astroid==3.0.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.7
gevent==23.9.1
greenlet==3.0.1
idna==3.6
isort==5.13.2
mccabe==0.7.0
platformdirs==4.1.0
pycparser==2.21
pylint==3.0.3
PySocks==1.7.1
requests==2.32.0
toml==0.10.2
tomlkit==0.12.3
urllib3==2.1.0
zope.event==5.0
zope.interface==6.1
